.WDA-tables-list{
	width: 100%;
    border: 1px solid;
}
.WDA-tables-list tr:nth-child(even){
	background: #CCC
}
.WDA-tables-list th {
    text-align: left;
	padding-right: 10px;
}
.table-action-a {
    margin-right: 5px;
}

.notify {
	background-color:#e3f7fc; 
	color:#555; 
    border:.1em solid;
	border-color: #8ed9f6;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;
    font-size:1.1em;
    padding:10px 10px 10px 10px;
    margin:10px;
    cursor: default;
}

.notify-yellow { background: #fff8c4; border-color: #f7deae; }
.notify-red { background: #ffecec; border-color: #fad9d7; }
.notify-green { background: #e9ffd9; border-color: #D1FAB6; }
.WDA_btn-back:focus{
	box-shadow: none;
}